<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key><string>en</string>
	<key>CFBundleDisplayName</key><string>Progsu</string>
	<key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
	<key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key><string>APPL</string>
	<key>CFBundleShortVersionString</key><string>1.0</string>
	<key>CFBundleVersion</key><string>1</string>
	<key>LSRequiresIPhoneOS</key><true/>
	<key>ITSAppUsesNonExemptEncryption</key><false/>
	<key>ProgsuSupabaseURL</key><string>$(SUPABASE_URL)</string>
	<key>ProgsuSupabaseAnonKey</key><string>$(SUPABASE_ANON_KEY)</string>
	<key>ProgsuAPIBaseURL</key><string>$(API_BASE_URL)</string>
	<key>ProgsuAPSEnvironment</key><string>$(APS_ENVIRONMENT)</string>
	<key>ProgsuUniversalLinkHost</key><string>$(UNIVERSAL_LINK_HOST)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key><string>com.progsu.app</string>
			<key>CFBundleURLSchemes</key><array><string>progsu</string></array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Event staff use the camera to scan attendee check-in codes.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Progsu adds events you choose to your calendar. It never reads your calendar.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key><true/>
			</dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key><true/>
			</dict>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key><string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array><string>UIInterfaceOrientationPortrait</string></array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key><false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array><string>remote-notification</string></array>
</dict>
</plist>
